/**
 *
 * Typography _typography.scss
 *
 */

$primary-font: roman;
$secondary-font: lato;

h1
{
	// font-size: 50px;
	font-size: 1em;
}

h2
{
	// font-size: 44px;
	font-size: 0.88em;
}

h3
{
	// font-size: 38px;
	font-size: 0.76em;
}

h4
{
	// font-size: 32px;
	font-size: 0.64em;
}

h5
{
	// font-size: 26px;
	font-size: 0.52em;
}

h6
{
	// font-size: 21px;
	font-size: 0.42em;
}

p
{
	// font-size: 16px;
	font-size: 0.32em;
}